<div class="password" visible="@isVisible">
    @if (isVisible && string.IsNullOrWhiteSpace(Password))
    {
        <p class="text-italic">No Password</p>
    }
    else if (isVisible)
    {
        <p tabindex="-1">@Password</p>
    }
    else
    {
        <p>********</p>
    }
    
    <button class="btn-icon" @onclick="() => isVisible = !isVisible"><Icon Path="@(isVisible ? Icons.EyeClosed : Icons.EyeOpen)" Color="var(--color-text-dark)" Size="18" /></button>
</div>

@code {
    [Parameter]
    public string? Password { get; set; }

    private bool isVisible;
}