.password {
    display: flex;
    align-items: end;
    border-bottom: 1px solid transparent;
    height: 21.6px;
}

.password p {
    flex: 1;
}

.password:not([visible]) p {
    line-height: 0.75em;
}

.password[visible] {
    user-select: all;
}

.password[visible]:has(p:focus-within) {
    border-bottom: 1px solid var(--color-primary);
}

.logo-shadow {
    background: radial-gradient(var(--color-primary) 10%, transparent 70%);
    background-size: 40% 300%;
    background-position: center -200px;
    background-repeat: no-repeat;
}