@using System.Text.Json
@inject IJSRuntime JS

<Dialog Width="450">
    <DialogContent>
        <div>
            <p class="text-small text-dark">File Name*</p>
            <input class="input" @bind="file" @bind:event="oninput" />
        </div>

        <div class="mt-3">
            <p class="text-small text-dark">Password*</p>
            <input class="input" @bind="password" @bind:event="oninput" />
        </div>
    </DialogContent>

    <DialogActions>
        <button class="btn" @onclick="DialogInstance.Cancel">Cancel</button>
        <button class="btn btn-outlined" @onclick="Export" disabled="@(!CanExport())">Export</button>
    </DialogActions>
</Dialog>

@code {
    [CascadingParameter]
    public required DialogInstance DialogInstance { get; set; }

    [Parameter]
    public HashSet<AccountRecord> Accounts { get; set; } = [];

    private string? file;
    private string? password;

    private async Task Export()
    {
        var contents = JsonSerializer.Serialize(Accounts.OrderBy(x => x.DateCreated), JsonSerializerOptions.Web);
        var passwordHash = Encryption.HashPassword(password!);
        var (encryptKey, iv) = Encryption.GenerateKeyFromPassword(passwordHash);
        var encrypted = Encryption.Encrypt(contents, encryptKey, iv);
        
        await JS.InvokeVoidAsync("downloadContents", file!.Trim() + ".ov", encrypted);
        DialogInstance.Close();
    }

    private bool CanExport()
    {
        return !string.IsNullOrWhiteSpace(file) && !string.IsNullOrWhiteSpace(password);
    }
}